
@font-face { font-family: 'name_font'; src: url("../fonts/krona-one.regular.ttf"); } 
@font-face { font-family: 'strong_font'; src: url("../fonts/CallofOpsDuty.otf"); }
@font-face { font-family: 'impact_font'; src: url("../fonts//impact.ttf"); } 

*{
    overflow-x: hidden;
    color: black;
}

body{
    background-color: #ffe6f2;
    font-family: "Roboto", sans-serif;
    margin: 0;
}


.navbar{

    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    overflow: hidden;

    height: 60px;

}
  
.navbar li {
    float: right;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.navbar .logo{
    float: left;
}

@media screen and (max-width: 425px){
    .navbar .logo{
        padding-left: 15px;
    }
}

@media screen and (min-width: 425px){
    .navbar .logo{
        padding-left: 50px;
    }
}

.navbar .logo i{
    font-size: 40px;
    overflow: hidden;
}

  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover:not(.active) {
    background-color: #111;
    display: flex;
    height: 100%;
    align-items: center;
}
  
.navbar .active {
    background-color: #ff1a8c;
    height: 100%;
    display: flex;
    align-items: center;
}

.options{
    height: 100%;
}
  
#check {
    display: none;
}


/*************************************************/

.menu-icon {
    text-align: center;
    cursor: pointer;
    font-size: 30px;

    position: relative;
    width: 35px;
    height: 100%;
    display: none;

}

.menu-icon.active{
    background-color: transparent;
}

.menu-icon span {
    display: block;
    background-color: white;
    height: 5px;
    width: 100%;
    margin: 5px 0; /* Space between bars */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Transform the bars into a cross when active */
.menu-icon.active span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 12px;

}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 12px;
}


/******************************************************************/

@media screen and (max-width: 425px){
    .menu-icon{
        margin-right: 15px;
    }
    .options{
        height: 80%;
    }
} 


@media screen and (max-width: 891px) {

    @media screen and (min-width: 425px){
        .menu-icon {
            margin-right: 50px;
        }

        .options{
            height: 90%;
        }
    }

    .menu-icon {
        display: block;
        order: 1;
        float: right;
        margin-top: 12px;
    }

  
    .options {
        position: fixed;
        top: 60px;
        right: -100%;
        background-color: #1f1f1f;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    .options li{
        width: 100%;
        justify-content: center;
    }
    .options li a{
        width: 100%;
        justify-content: center;
    }

    #check:checked ~ .options {
      right: 0;
    }

    

}

.home{

    display: flex;

    background-image: url('../imgs/back_gym_light.jpg');
    overflow: hidden;

}

@media screen and (min-width: 767px){
    .home{
        height: 100%;
    }
}

@media screen and (max-width: 766px) {
    .home{
        height: 85%;
    }
}

.home .text{
    padding-top: 60px;
    padding-left: 5%;
    width: 95%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-position: right bottom;
}

@media screen and (min-width: 1245px) {   
    .home .text{
        background-image: url("../imgs/full_hand2_mini.png");
    }
}

@media screen and (min-width: 1000px) and (max-width: 1244px) {   
    .home .text{
        background-image: url("../imgs/full_hand2_back.png");
    }
}

@media screen and (max-width: 999px) {   
    .home .text{
        background-image: url("../imgs/full_back.png");
    }
}

@media screen and (max-width: 425px) {   
    .home .text{
        height: 100%;
        background-size: auto 92%;
    }
}






.home .text .slogan{
    color: white;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



@media screen and (max-width: 425px) {
    .home .text .slogan{
        font-size: 40px;
        max-width: 100%;
    }
}


@media screen and (max-width: 766px) and (min-width: 425px) {
    .home .text .slogan{
        font-size: 50px;
        max-width: 80%;
    }
}


@media screen and (max-width: 684px) and (min-width: 767px) {  
    .home .text .slogan{
        max-width: 70%;
    }
}


@media screen and (min-width: 685px) and (max-width: 958px) {  
    .home .text .slogan{
        max-width: 70%;
    }
}

@media screen and (min-width: 958px) and (max-width: 1244px) {  
    .home .text .slogan{
        max-width: 50%;
    }
}

@media screen and (min-width: 1245px) {  
    .home .text .slogan{
        max-width: 37%;
    }
}

.home .text .slogan .miniText{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17px;
    display: block;
}

.home_button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ff4da6;
    color: black;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;

    transition: all .3s;
    z-index: 1;
}


.home_button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff4da6; /* Substitua --color pelo valor desejado */
    z-index: -2;
}

.home_button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #e60073; /* Substitua #YOUR_COLOR por uma cor escurecida */
    transition: all 0.3s;
    z-index: -1;
}

.home_button:hover {
    color: #fff;
}

.home_button:hover::before {
    width: 100%;
}

/*.home .imagem{
    
    overflow: hidden;
    width: 100%;
}*/

/*.home .imagem img{
    padding-top: 8vh;
    height: 92vh;
}

.home .imagem .la_imagem{
    
    height: 100%;
    width: 100%;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    
}
@media screen and (min-width: 1245px) {   
    .la_imagem{
    	background-image: url("../imgs/full_hand2_mini.png");
        background-position: right bottom;
    } 
}
@media screen and (max-width: 1244px) {   
    .la_imagem{
    	z-index: -1;
    } 
}*/


.sobre_mim{
    display: flex;
    background-color: black;
    padding: 50px;
}
.sobre_mim p{
    color: white;
}
.sobre_mim .imagem{

    padding: 20px;
    width: 50%;
    display: flex;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 50px;

    /*width: 30%;
    height: auto;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0)),
    url('../imgs/tyingShoe.png') no-repeat center center;
    background-size: cover;*/
}

.sobre_mim .imagem img{
    width: 90%;
    height: auto;
}

.sobre_mim .text{
    width: 50%;
}
.sobre_mim .text p{
    margin: 0;
    padding-left: 20px;
}

.sobre_mim .text .title{
    font-size: 63px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 50px;
}

.sobre_mim .text .blablabla{
    font-size: 20px;
    padding-bottom: 50px;
}

.message{
    background-image: url("../imgs/back_fixed.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    padding: 60px;
    
}

.message .title{
    font-size: 63px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 55%;
    
    margin: 0;
    padding-right: 50px;

    padding-top: 30px;
    padding-bottom: 30px;
}

.message .blablabla{
    font-size: 20px;
    width: 45%;

    padding-top: 30px;
    padding-bottom: 30px;
}

.message p{
    color: white;
}


.testemunhos{
    background-color:black;
}
.testemunhos p{
    color: white;
}

.testemunhos .title{
    font-size: 63px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testemunhos .media{
    display: flex;

    padding-bottom: 50px;
}

.testemunhos .corpo1{
    width: 40%;
    text-align: center;
    padding-left: 10%;
    
}
.testemunhos .corpo1 img{
    width: 85%;
    align-self: center;
}

.testemunhos .corpo2{
    width: 40%;
    text-align: center;
  
}
.testemunhos .corpo2 video{
    width: 65%;
}

.reviews{
    background-color: #1a1a1a;
}

.reviews .title{
    color: white;
    font-size: 63px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding-top: 50px;
    padding-left: 50px;
}








/*@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%); 
    }
    75% {
        transform: translateX(-300%); 
    }
    100% {
        transform: translateX(0%);
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0%);
    }
  }*/
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 35%;

  overflow: hidden;

}

.carousel__viewport {
    position: absolute;

    top: 15%;
    bottom: 15%;
    right: 15%;
    left: 15%;

    display: flex;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  background-color: #595959;
  counter-increment: item;

  border-radius: 25px;

  overflow: hidden;
}

/*.carousel__slide:nth-child(even) {
  background-color: #99f;
}*/

.carousel__slide:before {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  width: 100%;
  height: 100%;
  scroll-snap-align: center;

  align-content: center;
  overflow: hidden;
  
}

/*@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}*/

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}


/*
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}
*/

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 45%;

  width: 4rem;
  height: 4rem;
  
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before {
    left: 15%;
}
.carousel__prev{
    left: 0;
    top: 42%;
}

.carousel::after {
    right: 15%;
}
.carousel__next{
    right: 0;
    top: 42%;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
    
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}



.double_reviews{
    padding: 50px;
    display: flex;

}

.double_reviews .review2, .double_reviews .review1{
    width: 40%;
    background-color: white;
    margin: auto;
    border-radius: 6%;
}

.double_reviews p{
    color: black;
}

.review{
    padding: 10px;
    max-height: 250px;

}
.review .header{
    display: flex;

    align-items: center;
}

.review .header img{
    width: 55px;
    border-radius: 50%;
    padding: 15px;

}
.review .header .nome_user{
    font-weight: bold;
}
.reviews .stars i{
    color: #FFD43B;
}
.review .stars{
    padding-left: 15px;
}
.review .text{
    padding: 15px;
}



.galeria{
    background-color: black;
}

.galeria i{
    overflow: hidden;
}

.galeria .title{
    font-size: 63px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.galeria .grid-container{
    display: grid;
    gap: 5%;
    padding: 50px;
}
.galeria .f1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.galeria .f2{
    grid-column: 3;
    grid-row: 1;
}
.galeria .f3{
    grid-column: 3;
    grid-row: 2 / span 2;
}

.galeria div{
    overflow: hidden;
}

.contactos{
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #1a1a1a;
    display: flex;
}

.contactos p{
    color: white;
}

.contactos .semi_title{
    font-size: 63px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-align: center;
    padding-bottom: 10px;
}

.contactos .enunciado{
    width: 50%;
}

.info i{
    height: 25px;
}
.info span{
    color: white;
    font-family: "Roboto", sans-serif;

    font-weight: normal;

}

.contactos .info{
    padding-left: 200px;
    font-size: 20px;
}
.contactos .form{
    width: 50%;
    
    align-content: center;
    text-align: right;

    padding-top: 100px;
    padding-right: 50px;
}

.contactos .redes_sociais{
    font-size: 30px;
    height: 35px;

    align-items: center;
}

.form .name, .form .email{
    width: 50%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form .messagem{
    width: 50%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit]{
    width: 30%;
    background-color: #ff4da6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{

    background-color: #cc0066
}

.rights{
    background-color: #333333;
    
    padding: 10px;
    text-align: center;
}
.rights p{
    color: white;
}
